<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webcamera</title>
    <link href="../static/css/camera.css" rel="stylesheet">
</head>
<body>
    <div id="results">Your captured image will appear here...</div>

	<h1>WebcamJS Test Page</h1>
	<h3>Demonstrates simple 320x240 capture &amp; display</h3>

	<div id="my_camera"></div>

	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="../static/js/webcam.min.js"></script>

	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>

	<!-- A button for taking snaps -->
	<form method='post' action='snapshot'>
		<input type=button value="Take Snapshot" onClick="take_snapshot()" >
	</form>
	<!-- <form method="POST" action="{{url_for('upload_submit')}}", >
		<input type=button value="Upload this snapshot"  >
	</form> -->


	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
				document.getElementById('results').innerHTML =
					'<h2>Here is your image:</h2>' +
					'<img src="'+data_uri+'"/>';
					alert(data_uri)
			} );
		}
	</script>

</body>
</html>